body {
    background: black;
    color: white;
    text-align: center;
}

h2 {
    color: black;
}

input {
    width: 50%;
    margin: 2rem;
    text-align: center;
}

hr {
    background-color: white;
}

#timeline {
    background-image: linear-gradient(black, blue, blue, blue, black);
    width: 10%;
    margin-left: 55%;
    height: 99%;
    z-index: 5;
    position: relative;
}

.all-repos {
    background-color: #e9ecef;
    color: black;
    border-radius: 18px;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    margin-bottom: 1rem;
    z-index: 10;
    position: relative;
    padding: 1rem;
}

.jumbotron {
    margin-top: 3%;
    border-radius: 18px;
}

.line {
    margin-left: -500%;
    margin-right: 100%;
    background-image: linear-gradient(to left, black, blue, black);
    margin-bottom: 10rem;
    margin-top: 8rem;
    position: relative;
    z-index: 1;
}
